/* .displayData {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.displayData thead th {
  text-align: left;
  transition: all 0.2s ease-in-out;
}

.displayData table {
  background-color: white;
  width: 100%;
  padding-top: 1em;
  border-spacing: 1px;
  border-collapse: collapse;
}

.displayData td,
.displayData th {
  border: 0.5px solid rgb(0, 0, 0);
  padding: 8px;
}

.displayData tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr {
    display: table-row;
    vertical-align: initial;
    unicode-bidi: isolate;
    border-color: inherit;
}

.displayData th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(0, 211, 148);
  color: white;
}

.noFileContainer {
  text-align: center;
  margin-top: 2em;
} */


/* Стили input */
.full-cell-input {
    /* width: 100%; */
    width: 10em;
    height: 100%;
    box-sizing: border-box; /* Учитываем padding и border в размерах */
    padding: 8px;
    border: none; /* Убираем границу input */
    outline: none; /* Убираем контур при фокусе */
    background: transparent; /* Прозрачный фон */
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
    background: #f4eddf; /* Цвет фона */
}

 .full-cell-textarea {
    background: #f4eddf; /* Цвет фона */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2px;
    align-self: center;
    /* margin: 2px; */
    border: none;
    resize: none; /* Отключаем изменение размера */
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap; /* Сохраняем переносы строк */
    overflow-wrap: break-word; /* Перенос длинных слов */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
    /* возвращать в начало строки при onBlur */
}

/* Для динамического изменения высоты */
.auto-height {
    height: auto;
    min-height: 60px;
}

.beige-with-value {
    background-color: #f4eddf;
    
}

.line-through {
  position: relative;
  overflow: hidden;
  text-decoration: line-through 2px #000;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* .line-through::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background: red;
  transform: rotate(-45deg);
} */

.text-cell-content {
  display: inline-block;
  max-width: 100%;
  vertical-align: middle;
}

.custom-tooltip {
  background: #77d2f5;
  border: 1px solid #6f6f6f;
  padding: 5px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  max-width: 300px;
  /* Исправления для переносов: */
  white-space: pre-wrap; /* Сохраняет пробелы и переносы */
  word-wrap: break-word; /* Перенос длинных слов */
  overflow-wrap: break-word; /* Современный аналог word-wrap */
  word-break: break-word; /* Оптимальный перенос слов */
  font-size: 0.9em;
  pointer-events: none;
  /* overflow-y: auto;
  max-height: 200px; */
}
